/*remove local style*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* */
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#39a6b2;
}
/* header elements */
header{
    padding:20px 35px;
    background-color:#39a6b2;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*fixed navbar
.fixed-nav{
    position:fixed;
    width:100%;
    z-index:1;
}
*/
header h1{
    font-weight:bold;
    font-size:36px;
    color:#fce138;
    margin:0;
}
header a{
    text-decoration:none;
    color:#fce138;
}
/* navigation elements*/
header nav{
    margin:7px 0;
}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    margin:0 30px;
    font-weight:lighter;
    font-size:1.55vw;
}
/* footer elements*/
footer{
    background-color:#fce138;
    width:100%;
    padding:40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer h2{
    color:#024e76;
    font-size:30px;
    margin:0;
}
footer div{
    line-height:1.5;
    text-align:right;
}
footer a{
    color:#024e76;
}
/* section elements */
.hero{
    align-items:flex-start;
	padding:60px;
	background-image:url(../images/flipped-hero-image.jpg);
	background-size:cover;
	background-position:center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-text{
    color:#fff;
    width: 35%;
    text-align:justify;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}
.hero-text h2{
    font-style: italic;
    font-size: 55px;
    color: #fce138;
    text-align:right;
}
.form-container{
	padding:20px;
    width:40%;
    margin: 3.5%;
	background-color:#fce138;
	color:#024e76;
	border:solid 3px #024e76;
	border-color:#024e76;
}
.form-container p{
	margin:5px 0px 15px 0px;
}
.form-container h3{
	font-size:24px;
	margin:0;
}
.form-container lable{
	margin:0px 5px;
}
.form-input{
	display:block;
	border:3px solid #024e76;
	padding:7px 15px;
	font-size:16px;
	color:#024e76;
	width:100%;
	margin-bottom:15px;
}
.form-container button{
	color:#fce138;
	background-color:#024e76;
	border:none;
	padding:10px 20px;
	font-size:16px;
}
/* intro elements */
.intro p{
    list-style:1.7;
    color:#39a6b2;
    width:80%;
    font-size:20px;
    margin:auto;
    margin-bottom: 50px;
    text-align: center;
}
/* shared elements*/
.flex-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-title{ 
    font-size:48px;
    color:#024e76;
    margin:35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35 auto;
    border-bottom: 3px solid;
    width: 50%;
}
.primary-border{
   
    border-color:#fce138;
}
.secondary-border{
   
    border-color:#39a6b2;
}
/* steps section */
.steps {
    background-color: #fce138;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step h3{
    flex:1 30%;
}
.step-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex:2 70%;
}
.step-image {
    flex: 1 12%;
    margin-right: 20px;
}
.step-image img {
    max-width: 100%;
}
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}
.step-text {
    flex:12;
}


/* meet the trainer section */
.trainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}
.trainer {
    flex: 1;
    margin:20px;
    background-color:#024e76;
    color:#fce138;
}
.trainer img {
    width:100%;
}

.trainer-bio {
    padding:25px;
    line-height:1.3;
}
.trainer-bio h3 {
    font-size:28px;
}
.trainer-bio h4 {
    font-weight:lighter;
    font-size:22px;
    margin-bottom:15px;
}
.trainer-bio p {
    font-size:17px;
   
}
/* Services */
.services {
    background-color:#fce138;
}
.service-grid-wrapper {
    display:flex;
    width:100%;
    justify-content:center;
    padding: 20px;
}
.service-grid-container {
    display:grid;
    width:80%;
    background-color:#39a6b2;
    border:2px solid #024e76;
    grid-template-columns:1fr repeat(2,4fr);
    grid-template-rows:repeat(5,1fr) 2fr;
    grid-gap:5px;
    color:#024e76;
    font-size:1.2rem;
}
.service-grid-item {
    display:flex;
    align-items:center;
    background-color:lightyellow;
    border:2px solid #024e76;
    padding:15px 0;
    text-align:center;
    justify-content:center;
}
.service-grid-item.basic {
    grid-column:2/ span 1;
}
.service-grid-item.both{
    grid-column:2/ span 2;
}
.service-grid-item.cancle {
    writing-mode:vertical-lr;
    grid-column:1;
    grid-row:1/-1;
    transform:rotate(180deg);
}
.grid-head, .grid-price, .service-grid-item.cancle {
    font-size:1.5rem;
    font-weight:bold;
}


/* contact section */
.contact {
    flex-wrap: wrap;
    align-content: center;
    background:#024e76;
    padding: 60px;
}
.contact-info {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.contact-info > *{
    flex:1;
    margin: 15px;
}
.contact h2 {
    color:#fce138;
    overflow:hi;
}
.contact-info h3 {
    color:#fce138;
    font-size:32px;
}
.contact-info p,
.contact-info address {
    margin:20px 0;
    line-height:1.5;
    font-size:16px;
    font-style:normal;
    color: #fff;
}
.contact-form input,
.contact-form textarea{
     border: 1px solid #024e76;
     display: flex;
     flex-wrap: wrap;
     padding: 7px 15px;
     font-size: 16px;
     width: 100%;
     margin-bottom: 15px;
     margin-top: 5px;
}
.contact-info a {
    color:#fce138;
 }
 .contact-form label{
     color:#fff;
 }
 .contact-form button{
     width: 100%;
     border: none;
     background-color: #fce138;
     text-align: center;
     padding: 15px 0;
     font-size: 16px;
 }